<br />
<div class="container">
  <h1>Editing Transaction</h1>
  <br/>
  <%= render 'form', transaction: @transaction %>
  <br/>
  <%= link_to 'Show', @transaction, class:"btn btn-secondary" %> |
  <%= link_to 'Delete', @transaction, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
  <%= link_to 'Back', money_transactions_path, class:"btn btn-dark" %>
</div>