<br />
<div class="container">
  <h1>Editing Note</h1>
  <br />
  <%= render 'form', note: @note %>
  <br />
  <%#= link_to 'Back', money_transaction_path(@note.money_transaction), class:"btn btn-dark" %>
</div>