<br />
<div class="container">
  <h1>Editing Note</h1>
  <br />
  <%= render 'form', note: @note %>
  <br />
  <%= link_to 'Show', class:"btn btn-secondary" %> |
  <%= link_to 'Back', notes_path, class:"btn btn-dark" %>
</div>