<div class="container">
  <h1>Editing Person</h1>
  <br/>
  <%= render 'form', person: @person %>
  <br/>
  <%= link_to 'Show', @person, class:"btn btn-secondary" %> |
  <%= link_to 'Delete', @person, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
  <%= link_to 'Back', people_path, class:"btn btn-dark" %>
</div>