<div class="container text-center">
  <%= image_tag("finance_back.jpg") %>
  <div class="row text-center">
    <div class="col-12">
      <br />
      <%= link_to '<i class="bi bi-cash-coin pe-2"></i> Add new transaction'.html_safe, new_money_transaction_path, class: "btn btn-outline-warning btn-lg"%>
    </div>
  </div>
</div>