<%if obj.any?%>
  <table class="table">
    <thead>
    <tr>
      <th> Category </th>
      <th> Amount </th>
    </tr>
    </thead>
    <tbody>
    <% obj.each do |category|%>
      <tr>
        <td><%= category[0] %></td>
        <td><%= category[1] %></td>
      </tr>
    <% end%>
    </tbody>
  </table>
<% end %>